.rows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
  background-color: whitesmoke;
  border: 2px solid gainsboro;
  margin: 4px;
  border-radius: 8px;
}

.board .rows.active {
  border: 3px solid rgb(151, 206, 68) !important;
}

.circle-peg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.button-div {
  display: flex;
}

button {
  border: none;
  cursor: pointer;
}

.check-button {
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
}

.hints {
  display: inline-block;
  border: 1px solid gainsboro;
  background-color: white;
  width: 12px;
  height: 12px;
}