.container {
  text-align: center;
}

.game {
  display: inline-block;
  width: 50%;
}

.rules {
  margin: 0.33em auto 0.8em auto;
  max-width: 470px;
}

.rules h3 {
  cursor: pointer;
}

.rules p {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  margin: 5px 1em;
  font-size: 0.92em;
  color: #666;
}

.color-picker {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.new-game {
  padding: 8px;
  margin: 8px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(151, 206, 68);
  border: 2px solid rgb(151, 206, 68);
  border-radius: 6px;
  background: none;
}

.solution {
  margin: 8px;
  padding: 12px;
  border: 2px solid rgb(151, 206, 68);
  border-radius: 10px;
  background-color: whitesmoke;
}

.solution p {
  font-weight: 700;
  margin: 0;
  color: grey;
}
